html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.header {
    width: 100%;
    height: 300px;
    background-image: url('../content/images/pexels-suzyhazelwood-1629236.jpg');
    background-size: 100% 200%;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 15px 15px 0 0;
}
#Date {
    position:absolute;
    bottom:10px;
    left:10px;
    color: #fff;
    font-size: 25px;
    font-family: 'Tatillium web', sans-serif
    
}